[user]
        name = Nicholas Vitovitch
        email = nicholas.vitovitch@sri.com
[status]
        submoduleSummary = true
[alias]
        lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[pull]

[color]
	ui = auto
[core]
	excludesfile = /home/nvitovitch/.gitignore_global
